<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <permission
        android:name="dev.openksenax.permission.BIND_ADDON_MANAGEMENT"
        android:protectionLevel="signature" />

    <uses-permission
        android:name="dev.openksenax.permission.BIND_ADDON_MANAGEMENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <queries>
        <intent>
            <action android:name="dev.openksenax.action.ADDON_SERVICE" />
        </intent>
    </queries>

    <application
        android:name=".KsenaxAndroidApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenKsenax">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.addon.files"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/addon_file_paths" />
        </provider>

        <!--
          Addons may use independent signing keys, so a host-signature
          permission would reject legitimate callers. The service performs
          live Binder UID/package/certificate authorization via registry.
        -->
        <service
            android:name=".addons.modelprovider.OpenKsenaxModelProviderService"
            android:exported="true"
            tools:ignore="ExportedService">

            <intent-filter>
                <action
                    android:name="dev.openksenax.action.MODEL_PROVIDER" />
            </intent-filter>
        </service>

        <receiver
            android:name=".download.platform.ModelDownloadCompletionReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.OpenKsenax"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
